---
import { config } from '@/config'
import Layout from '@/layouts/Layout.astro'
---

<Layout title={`About | ${config.site.title}`} header="About me">
  <div class="prose prose-neutral prose-invert -mt-3 text-neutral-200">
    <p>
      I'm a developer based in Finland. I enjoy weightlifting, reading, and
      hiking.
    </p>
  </div>
  <div class="prose prose-neutral prose-invert mt-5 text-neutral-200">
    <p>
      I currently work as a Software Engineer at{' '}
      <a href="https://wolt.com" target="_blank" rel="noopener noreferrer">
        Wolt
      </a>{' '}
      while studying Computer Engineering at{' '}
      <a
        href="https://www.abo.fi/en/study-subject/computer-engineering/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Åbo Akademi
      </a>.
    </p>
    <p>
      Previously, I worked on developer experience at{' '}
      <a
        href="https://www.f-secure.com/en"
        target="_blank"
        rel="noopener noreferrer"
      >
        F-Secure
      </a> and on both product and infrastructure at{' '}
      <a
        href="https://www.smartum.fi"
        target="_blank"
        rel="noopener noreferrer"
      >
        Smartum
      </a>.
    </p>
    <p>
      I primarily work with Go, AWS, Terraform, TypeScript, and occasionally
      Python. Topics that I find particularly intriguing include developer
      experience (DX) and distributed systems.
    </p>
  </div>
</Layout>
