---
import Layout from '@/layouts/Layout.astro'
import { config } from '@/config'
---

<Layout title={`About | ${config.site.title}`} header="About me">
  <div class="prose prose-neutral prose-invert -mt-3 text-neutral-200">
    <p>
      I'm a developer based in Finland. I enjoy weightlifting, reading, and
      hiking.
    </p>
  </div>
  <div class="prose prose-neutral prose-invert mt-5 text-neutral-200">
    <p>
      I currently work on developer experience at{' '}
      <a
        href="https://www.f-secure.com/en"
        target="_blank"
        rel="noopener noreferrer"
      >
        F-Secure
      </a>{' '}
      while studying Computer Engineering at{' '}
      <a
        href="https://www.abo.fi/en/study-subject/computer-engineering/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Åbo Akademi
      </a>.
    </p>
    <p>
      Previously, I worked on both product and infrastructure at{' '}
      <a
        href="https://www.smartum.fi"
        target="_blank"
        rel="noopener noreferrer"
      >
        Smartum
      </a>.
    </p>
    <p>
      I primarily work with AWS, Terraform, Python and TypeScript, and
      occasionally with Go. Topics that I find particularly intriguing include
      developer experience (DX), distributed systems, and open source.
    </p>
  </div>
</Layout>
