---
import Layout from '@/layouts/Layout.astro'
import { config } from '@/config'
---

<Layout title={`Blog | ${config.site.title}`} header="Blog">
  <p class="-mt-3 text-neutral-200">Blog posts coming soon.</p>
</Layout>
