---
const navItems = {
  '/': { name: 'home' },
  '/about': { name: 'about' },
  '/writing': { name: 'writing' },
  '/reading': { name: 'reading' },
}

let pathname = Astro.url.pathname
if (pathname.endsWith('/') && pathname !== '/') {
  pathname = pathname.slice(0, -1)
}
---

<aside class="-mx-4 font-serif md:mx-0 md:w-37.5 md:shrink-0 md:px-0">
  <div class="lg:sticky lg:top-20">
    <nav
      class="fade relative flex scroll-pr-6 flex-row items-start px-4 pb-0 md:relative md:flex-col md:overflow-auto md:px-0"
      id="nav"
    >
      <div class="mt-2 mb-2 flex flex-row space-x-0 pr-10 md:mt-0 md:flex-col">
        {
          Object.entries(navItems).map(([path, { name }]) => {
            const isActive =
              path === '/' ? pathname === '/' : pathname.startsWith(path)
            return (
              <a
                href={path}
                class:list={[
                  'flex align-middle transition-all hover:text-neutral-200',
                  isActive ? 'font-bold' : 'text-neutral-400',
                ]}
              >
                <span
                  class:list={[
                    'relative px-2.5 py-1.25',
                    isActive && 'rounded-md bg-neutral-800',
                  ]}
                >
                  {name}
                </span>
              </a>
            )
          })
        }
      </div>
    </nav>
  </div>
</aside>
