---
import { type CollectionEntry, getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import { config } from '@/config'
import { formatDate } from '@/utils/date'

const posts = await getCollection('writing')
const sortedPosts = posts.sort(
  (a: CollectionEntry<'writing'>, b: CollectionEntry<'writing'>) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
)
---

<Layout title={`Writing | ${config.site.title}`} header="Writing">
  <div class="space-y-6">
    {
      sortedPosts.map((post) => (
        <div class="flex items-baseline gap-8">
          <time class="min-w-25 text-sm text-neutral-400">
            {formatDate(post.data.date)}
          </time>
          <a
            href={`/writing/${post.id}`}
            class="text-neutral-200 transition-all hover:text-neutral-400"
          >
            {post.data.title}
          </a>
        </div>
      ))
    }
  </div>
</Layout>
